node_modules/
dist/
build/
.vite/
.cache/
*.tsbuildinfo

[Bb]in/
[Oo]bj/

__pycache__/
*.py[cod]
.venv/

.env
.env.local
.env.production.local
local.settings.json

.DS_Store
Thumbs.db
.vscode/
.idea/
